{% extends 'layout.twig' %}
{% block content %}
<h1>Dashboard</h1>
<ul>
    <li><a href="/php-class/users/create">Add user</a></li>
    <li><a href="/php-class/jobs/add">Add job</a></li>
</ul>
<br><br>
<a href="/php-class/logout" class="danger">Logout</a>
{% endblock %}