{% extends 'layout.twig' %}
{% block content %}
    <h1>Create user</h1>
    <div class="alert alert-primary">
        <p>{{ responseMessage }}</p>
    </div>
        <form action="/php-class/users/create" method="post" enctype="multipart/form-data">
            <label for="user_name">User name</label>
            <input type="text" name="user_name" id="user_name"><br>
            <label for="email">Email</label>
            <input type="email" name="user_email" id="user_email"><br>
            <label for="password">Password</label>
            <input type="password" name="user_password" id="user_password">
            <button type="submit">Save</button>
        </form>

{% endblock %}


